*.iml
nbproject/
.idea
/java-servlet/www/
play-java/guestbook/precompiled/
rails/WEB-INF/appengine-generated/datastore-indexes-auto.xml
rails/WEB-INF/appengine-generated/local_db.bin
appengine-aslakjo.aux
appengine-aslakjo.log
appengine-aslakjo.nav
appengine-aslakjo.out
appengine-aslakjo.snm
appengine-aslakjo.toc
appengine-aslakjo.vrb
